@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: "Space Grotesk", sans-serif;
}

/* Mobile Design First */
/* BG COLOR GRADIENT */
.leftBgContainer {
  background-image: url("/images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 280px;
}

.leftBgContainer.desktop {
  display: none;
}

/* CARD STYLING */
.card {
  width: 90%;
  margin: auto;
}

/* FRONT CARD */
.card .cardFront {
  /* background-image: url("/images/bg-card-front.png");
  background-repeat: no-repeat;
  background-size: cover; */
  position: absolute;
  top: 147px;
  z-index: 1;
  width: 306px;
  height: 190px;
  color: #ffffff;
}

.card .cardFrontContainer {
  position: absolute;
  top: 0;
  margin: 20px;
  height: 150px;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .cardFront img {
  width: inherit;
  height: inherit;
}

/* BUBBLES ON TOP */
.card .cardFront .bubbles {
  display: flex;
  align-items: center;
}

.card .cardFront .bubbles .bubble1 {
  display: block;
  background-color: #ffffff;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 50%;
}

.card .cardFront .bubbles .bubble2 {
  display: block;
  border: 1.5px solid #ffffff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

/* CARD DETAILS */
.cardFrontDetails {
  position: relative;
}

.cardFrontDetails .cardNameAndNumber {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.cardNameAndNumber .cardName {
  position: absolute;
  bottom: 0;
}

.cardFrontDetails .cardNumber {
  font-size: 1.3rem;
  letter-spacing: 1.5px;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 10px;
}

.cardDate {
  float: right;
}

/* CARD BACK*/
.cardBack {
  width: 306px;
  height: 190px;
  position: absolute;
  top: 39px;
  right: 5%;
  border-radius: 10px;
  color: #fff;
}

.cardBack img {
  width: inherit;
  height: inherit;
}

.cardBack .cardBackDetails {
  position: absolute;
  top: 83px;
  right: 45px;
}

/* CARD DETAILS FORMS STYLING */
.formSections {
  width: 90%;
  margin: auto;
  margin-top: 90px;
  text-transform: uppercase;
}

.formSections .input-container {
  margin: 12px 0 27px 0;
  display: flex;
  flex-direction: column;
}

.card_Details input {
  font-size: 1.35rem;
  padding: 0.6rem;
  border-radius: 9px;
  border: 0.18rem solid #e0e0e0;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
}

.card_Details input:focus {
  outline: none;
}

.card_Details label {
  font-weight: 500;
  font-size: 1rem;
  word-spacing: 0.12rem;
}

.formSections .card_Details .card_Name-and-Number {
  display: flex;
  flex-direction: column;
}

.formSections .card_Details .card_date-and-pin {
  display: flex;
  flex-direction: row;
}

.card_date-and-pin .card-date div {
  display: flex;
  margin-top: 12px;
}

.card_date-and-pin .card-date div input {
  width: 100%;
  margin-right: 10px;
}

/*  Showing Error */
.formSections .inpur-error {
  border: 0.18rem solid #ff5151;
}

.formSections .error-message {
  text-transform: initial;
  color: #f73a3a;
  font-weight: 500;
  display: none;
}

.card_pin {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.card_pin input {
  margin-top: 12px;
}

main button {
  width: 100%;
  font-size: 1.4rem;
  padding: 0.8rem;
  margin: 25px 0;
  border-radius: 10px;
  border: none;
  text-transform: capitalize;
  background-color: #220930;
  color: #ffffff;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
}

/* Card Confirned */
.confirm-card-section {
  width: 90%;
  position: relative;
  margin: auto;
  display: none;
  top: 23rem;
}

.confirm-card-section div {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: absolute;
  /* top: auto; */
  bottom: 0;
}

.confirm-card-section svg {
  margin: 10px 0;
}

.confirm-card-section h3 {
  color: #220930;
  font-size: 2rem;
  font-family: inherit;
  text-transform: uppercase;
  margin: 10px 0 20px;
}

.confirm-card-section p {
  font-size: 1.3rem;
  font-weight: 500;
  color: #838383;
  margin: 0;
}

/* Adding of loading animation */
.loading {
  /* display: flex; */
  /* align-items: center; */
  top: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  /* margin-top: 220px; */
  transform: translate(-50%, -50%);
}

.loading-animation {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
  display: none;
}

.loading-animation:before,
.loading-animation:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.loading-animation:before {
  animation: ball1 1s infinite;
  background-color: #cb2025;
  box-shadow: 30px 0 0 #f8b334;
  margin-bottom: 10px;
}
.loading-animation:after {
  animation: ball2 1s infinite;
  background-color: #00a096;
  box-shadow: 30px 0 0 #97bf0d;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #f8b334;
  }
  50% {
    box-shadow: 0 0 0 #f8b334;
    margin-bottom: 0;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #97bf0d;
  }
  50% {
    box-shadow: 0 0 0 #97bf0d;
    margin-top: -20px;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #97bf0d;
    margin-top: 0;
  }
}

/* Making it fit into larger screen */
@media screen and (min-width: 1000px) {
  body {
    display: flex;
  }

  .leftBgContainer.mobile {
    display: none;
  }

  .leftBgContainer.desktop {
    display: block;
    width: 30%;
    height: 100vh;
  }

  main {
    width: 70%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main .main-container {
    position: relative;
    height: 500px;
    width: 100%;
  }

  .card {
    width: auto;
    position: absolute;
    left: -225px;
  }

  .formSections {
    width: 40%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
  }

  .card .cardFront {
    left: -13px;
    top: 15px;
    width: 350px;
    height: 220px;
  }

  .cardBack {
    left: 44px;
    right: 0px;
    top: 272px;
    width: 350px;
    height: 220px;
  }

  .card .cardFrontContainer {
    margin: 20px 15px;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
  }

  .formSections .input-container {
    height: 58px;
    margin: 1px 0 10px 0;
  }

  .card_Details input {
    font-size: 1.2rem;
    padding: 0.6rem;
    border-radius: 9px;
    height: 15px;
  }

  .cardBack .cardBackDetails {
    left: 17rem;
    top: 98px;
  }

  .cardFrontDetails .cardNumber {
    font-size: 1.3rem;
    word-spacing: 20px;
    margin-bottom: 10px;
  }

  .confirm-card-section {
    width: 350px;
  }

  .formSections .card_Details .card_date-and-pin {
    height: 120px;
  }

  main button {
    margin: 1px 0px 0px 0px;
    padding: 0.7rem;
  }

  .confirm-card-section button{
    margin-top: 20px;
  }
}

@media screen and (min-width: 1460px) {
  .formSections {
    width: 450px;
    margin-top: 0;
  }

  .card .cardFront {
    width: 500px;
    height: auto !important;
    left: -150px;
    top: -40px;
  }

  .card .cardFrontContainer {
    margin: 25px;
  }

  .cardFrontDetails .cardNumber {
    font-size: 2rem;
    word-spacing: 20px;
    margin-bottom: 20px;
  }

  .cardFrontDetails .cardNameAndNumber {
    font-size: 1.1rem;
  }

  .cardDate {
    font-size: 1.1rem;
  }

  .cardBack {
    width: 500px;
    height: auto !important;
    left: -32px;
    top: 280px;
  }

  .cardBack .cardBackDetails {
    top: 117px;
    left: 23.5rem;
    font-size: 1.5rem;
  }

  .formSections .input-container {
    height: 65px;
    margin: 12px 0 15px 0;
  }

  .leftBgContainer.desktop {
    display: block;
    width: 35%;
  }

  .confirm-card-section {
    width: 400px;
  }

  main button {
    margin: 25px 0px 0px 0px;
  }
}

@media screen and (min-width: 2000px) {
  main {
    width: 1200px;
  }

  .leftBgContainer.desktop {
    width: 40%;
  }
}
